<p style="color: green"><%= notice %></p>

<% content_for :title, "Withdrawals" %>

<h1>Withdrawals</h1>

<div id="withdrawals">
  <% @withdrawals.each do |withdrawal| %>
    <%= render withdrawal %>
  <% end %>
</div>

<%= link_to "New withdrawal", new_withdrawal_path %>
