<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Target name:</strong>
    <%= transaction.target_name %>
  </p>

  <p>
    <strong>Source name:</strong>
    <%= transaction.source_name %>
  </p>

</div>
